---
layout: default
---
<header>
  <div class="grid page">
    <div class="logo col-2-middle left"> <a href ="/"> <img src="/images/logo-rec-dark.png" alt="king Code logo"></a></div>
    <div class="col-2_sm-hidden">

    </div>
    <nav class=" col-8-middle_sm-hidden right fixed">
      <a class="padded-sides" href="/services">services</a>
      <a class="padded-sides" href="/clients#reviews">clients</a>
      <a  class="padded-sides" href="/clients">reviews</a>
      <a class="padded-sides" href="/contact">contact</a>
    </nav>
  </div>

  <div class="col-2-middle padded grid centered fixed desktop-hide">
    <div>
      <p class="hamburger">⋯</p>
    </div>
  <!-- only opens with mobile-menu -->

    <div class='grid-center page-nav mobile-menu'>
      <p class="cross">╳</p>
      <a  href="/">home <br></a>
      <a  href="/services">services <br></a>
      <a  href="/clients#reviews">clients <br></a>
      <a  href="/clients">reviews <br></a>
      <a  href="/contact">contact</a><br>
      <p class="right menu-p">we code websites for her.</p>
    </div>
  </div>

</header>


{{content}}
