---
layout: default
---
<header>
  <div class="grid page">
    <div class="logo col-2-middle left"> <a href ="/index"> <img src="/images/logo-rec-dark.png" alt="#"></a></div>
    <div class="col-2_sm-hidden">

    </div>
    <nav class=" col-8-middle_sm-hidden right fixed">
      <a class="padded-sides" href="/index">home </a>
      <a class="padded-sides" href="/services">services</a>
      <a class="padded-sides" href="/clients">clients</a>
      <a  class="padded-sides" href="/clients#reviews">reviews</a>
      <a class="padded-sides" href="/contact">contact</a>
    </nav>
  </div>

  <div class="col-2-middle padded grid centered fixed desktop-hide">
    <div class='hamburger'>
      <p>⋯</p>
    </div>
  <!-- only opens with mobile-menu -->

    <div class='grid-center page-nav mobile-menu'>
      <p class="cross">╳</p>
      <a  href="/index">home <br></a>
      <a  href="/clients">clients <br></a>
      <a  href="/services">services <br></a>
      <a  href="/clients#reviews">reviews <br></a>
      <a  href="/contact">contact</a><br>
      <p class="right menu-p">we code websites for her.</p>
    </div>
  </div>

</header>


{{content}}
