---
layout: pages
---

{{content}}

<section class="grid-center">
  <div class="col-2_sm-hidden"></div>
  <div class="col-8_sm-12 centered home padded-top">
    <hr class="home">
    <h3 class="margin-top">Explore more of our photos and videos</h3>
    <h4 class="padded-sides">For us, the most exciting thing about photography and videography is having an idea then seeing it come to life through digital creation.</h4>

  </div>
  <div class="col-2_sm-hidden"></div>
</section>
<section class="padded centered">
  <div class="grid padded-1">
    <div class="col-4_sm-6 padded-1">
      <a href="/food-photography">
        <div class="hover-container" style="background-image:url('/food/stickyrice.jpg')">
          <div class="hover-overlay">
            <div class="hover-inner">
              <h3> Food</h3>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-4_sm-6 padded-1">
      <a href="/travel-photography">
        <div class="hover-container" style="background-image:url('/travel/ricefields.jpg')">
          <div class="hover-overlay">
            <div class="hover-inner">
              <h3>Travel</h3>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-4_sm-6 padded-1">
      <a href="/lifestyle-photography">
        <div class="hover-container" style="background-image:url('/lifestyle/kissingcouple.jpg')">
          <div class="hover-overlay">
            <div class="hover-inner">
              <h3> Lifestyle</h3>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-4_sm-6 padded-1">
      <a href="/portraits">
        <div class="hover-container" style="background-image:url('/portraits/dog.jpg')">
          <div class="hover-overlay">
            <div class="hover-inner">
              <h3> Portrait</h3>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-4_sm-6 padded-1">
      <a href="/hotel-photography">
        <div class="hover-container" style="background-image:url('/hotels/beautifulhotel.jpg')">
          <div class="hover-overlay">
            <div class="hover-inner">
              <h3> Luxury Hotel</h3>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-4_sm-6 padded-1">
      <a href="/videography">
        <div class="hover-container" style="background-image:url('/travel/lillydrone.jpg')">
          <div class="hover-overlay">
            <div class="hover-inner">
              <h3> Videography</h3>
            </div>
          </div>
        </div>
      </a>
    </div>

</section>
