---
layout: simple
---
<!-- first gallery -->
<section class="padded-top">
  <section class="padded split-beige grid-center mixed-gallery padded-t-0">

      <p class="col-2_sm-hidden"></p>
      <h1 class="col-8_sm-12 padded centered"> {{page.heading}} </h1>
      <p class="col-2_sm-hidden"></p>
    <div class="col-4">
      <a href="{{page.left-top-photo-url-first}}" data-fancybox="gallery" class="bg-image-photography landscape" style="background-image:url({{page.left-top-photo-first}}"> </a>
      <a href="{{page.left-bottom-photo-url-first}}" data-fancybox="gallery" class="bg-image-photography portrait" style="background-image:url({{page.left-bottom-photo-first}}"> </a>
    </div>
    <div class="col-3">
      <a href="{{page.middle-top-photo-url-first}}" data-fancybox="gallery" class="bg-image-photography tall-portrait" style="background-image:url({{page.middle-top-photo-first}}"> </a>
      <a href="{{page.middle-bottom-photo-first}}" data-fancybox="gallery" class="bg-image-photography tall-portrait" style="background-image:url({{page.middle-bottom-photo-first}}"> </a>
    </div>
    <div class="col-4">
      <a href="{{page.right-top-photo-url-first}}" data-fancybox="gallery" class="bg-image-photography portrait" style="background-image:url({{page.right-top-photo-first}}"> </a>
      <a href="{{page.right-bottom-photo-url-first}}" data-fancybox="gallery" class="bg-image-photography landscape" style="background-image:url({{page.right-bottom-photo-first}}"> </a>
    </div>
    <a class="button-photography fadein col-10-center centered padded-05" href="/contact"> I want this  </a>
    <div class="margin-top-1"> </div>

  </section>
</section>
<!-- top paragraph -->

          <section class="padded-sides grid centered split-beige-white">
            <div class="col-2 mob-hide"></div>
          <div class="col-8-middle_xs-12 home small-centered centered padded">
            <hr class="centered">
            <h4 class="margin-top fadein"> {{page.paragraph-first}} </h4>
          </div>
            <div class="col-2 mob-hide"></div>
        </section>

<!-- middle nav and banner -->

        <section class="padded-sides grid centered split-beige">
          <div class="col-1-middle_sm-hidden centered ">
            <nav class=" sticky">
              <p class="side-bar fadein"><a  href="/index">home <br></a></p>
                <p class="side-bar fadein"><a  href="/services">services <br></a></p>
              <p class="side-bar fadein"><a  href="/clients">clients <br></a></p>
              <p class="side-bar fadein"><a  href="/clients#reviews">reviews <br></a></p>
              <!-- <p class="side-bar fadein"><a  href="#">packages <br></a></p> -->
              <p class="side-bar fadein"><a  href="/contact">contact</a></p>
            </nav>
          </div>
          <div class="col-10_sm-12 bg-image centered landscape " style="background-image: url('{{page.nav-banner-portfolio}}');">
          </div>
            <div class="col-1 mob-hide"></div>

          </section>

<!-- bottom paragraph -->

        <section class="padded-sides light-bg grid centered ">
          <div class="col-2 mob-hide"></div>
          <div class="col-8-middle_xs-12 home small-centered centered padded">
            <hr class="centered">
            <h4 class="margin-top fadein"> {{page.paragraph-bottom}} </h4>
          </div>
          <div class="col-2 mob-hide"></div>
        </section>

<!-- second gallery   -->

<section class="padded split-beige-white grid-center mixed-gallery padded-t-0">
  <div class="col-4">
    <a href="{{page.left-top-photo-url-second}}" data-fancybox="gallery" class="bg-image-photography landscape" style="background-image:url({{page.left-top-photo-second}}"> </a>
    <a href="{{page.left-bottom-photo-url-second}}" data-fancybox="gallery" class="bg-image-photography portrait" style="background-image:url({{page.left-bottom-photo-second}}"> </a>
  </div>
  <div class="col-3">
      <a href="{{page.middle-top-photo-url-second}}" data-fancybox="gallery" class="bg-image-photography tall-portrait" style="background-image:url({{page.middle-top-photo-second}}"> </a>
    <a href="{{page.middle-bottom-photo-url-second}}" data-fancybox="gallery" class="bg-image-photography tall-portrait" style="background-image:url({{page.middle-bottom-photo-second}}"> </a>
  </div>
  <div class="col-4">
    <a href="{{page.right-top-photo-url-second}}" data-fancybox="gallery" class="bg-image-photography portrait" style="background-image:url({{page.right-top-photo-second}}"> </a>
    <a href="{{page.right-bottom-url-photo-second}}" data-fancybox="gallery" class="bg-image-photography landscape" style="background-image:url({{page.right-bottom-photo-second}}"> </a>
  </div>

    <a class="button-photography col-10-center fadein centered padded-05" href="/contact"> I want this </a>
    <div class="margin-top-1"> </div>

 </section>

 <section class="grid-center">
   <div class="col-2_sm-hidden"></div>
   <div class="col-8_sm-12 centered home">
     <hr class="home">
     <h3 class="margin-top">Explore more of our photos and videos</h3>
     <h4 class="padded-sides">For us, the most exciting thing about photography and videography is having an idea then seeing it come to life through digital creation.</h4>

   </div>
   <div class="col-2_sm-hidden"></div>
 </section>
 <section class="padded centered">
   <div class="grid padded-1">
     <div class="col-4_sm-6 padded-1">
       <a href="/food-photography">
         <div class="hover-container" style="background-image:url('/food/stickyrice.jpg')">
           <div class="hover-overlay">
             <div class="hover-inner">
               <h3> Food</h3>
             </div>
           </div>
         </div>
       </a>
     </div>
     <div class="col-4_sm-6 padded-1">
       <a href="/travel-photography">
         <div class="hover-container" style="background-image:url('/travel/ricefields.jpg')">
           <div class="hover-overlay">
             <div class="hover-inner">
               <h3>Travel</h3>
             </div>
           </div>
         </div>
       </a>
     </div>
     <div class="col-4_sm-6 padded-1">
       <a href="/lifestyle-photography">
         <div class="hover-container" style="background-image:url('/lifestyle/kissingcouple.jpg')">
           <div class="hover-overlay">
             <div class="hover-inner">
               <h3> Lifestyle</h3>
             </div>
           </div>
         </div>
       </a>
     </div>
     <div class="col-4_sm-6 padded-1">
       <a href="/portraits">
         <div class="hover-container" style="background-image:url('/portraits/dog.jpg')">
           <div class="hover-overlay">
             <div class="hover-inner">
               <h3> Portrait</h3>
             </div>
           </div>
         </div>
       </a>
     </div>
     <div class="col-4_sm-6 padded-1">
       <a href="/hotel-photography">
         <div class="hover-container" style="background-image:url('/hotels/beautifulhotel.jpg')">
           <div class="hover-overlay">
             <div class="hover-inner">
               <h3> Luxury Hotel</h3>
             </div>
           </div>
         </div>
       </a>
     </div>
     <div class="col-4_sm-6 padded-1">
       <a href="/videography">
         <div class="hover-container" style="background-image:url('/travel/lillydrone.jpg')">
           <div class="hover-overlay">
             <div class="hover-inner">
               <h3> Videography</h3>
             </div>
           </div>
         </div>
       </a>
     </div>
 </section>
