---
layout: products
---

<section id="buy" class="grid-center template-bg  shop-details border-bottom padded-top">
<div class="grid-centered padded-top padded-sides">
<div  class="col-5_md-6_sm-12 relative">


<img  src="{{page.product_image}}">
</div>
<div class="col-5_md-6_sm-12 padded-sides products ">
<h1 class="centered"> {{page.header}}</h1>
<div class="grid-center">
  <div class="shopify-buy-button-styles">
    <div id='product-component-1{{page.product-component}}'></div>
  </div>
</div>
<h5 class="margin-bottom"> {{page.product-header}} </h5>
<p> {{page.product-description}} </p>
<p> {{page.product-description-two}} </p>
<p> {{page.product-description-three}} </p>

<div class="centered">
  <a class="button-solid" href="{{page.demo-button-1}}" target="_blank">view demo</a>
</div>
</div>
</div>
</section>

<section class="grid-center template-bg padded">
  <h3 class="col-12 centered"> {{page.info-header}}</h3>
</section>
<section class="padded-sides template-bg ">
  <div class="grid flex-flip">
    <div class="col-6_sm-12 mock-ups" style="background-image: url('{{page.bg-image1}}');"> <img class="desktop-hide"src="{{page.bg-image1}}" alt="Make a living doing what you love">
    </div>
    <div class="col-6_sm-12-middle left padded reg">
      <h3> {{page.heading-text-info-1}} </h3>
      <p> {{page.text-info-para-1}} </p>
      <li> {{page.text-info-1-1}}</li>
      <li> {{page.text-info-1-2}}</li>
      <li> {{page.text-info-1-3}} </li>
      <li> {{page.text-info-1-4}} </li>
      <li> {{page.text-info-1-5}} </li>
      <li> {{page.text-info-1-6}} </li>
    </div>
  </div>
  <div class="grid flex-flip">
    <div class="col-6_sm-12 mock-ups" style="background-image: url('{{page.bg-image2}}');"> <img class="desktop-hide"src="{{page.bg-image2}}" alt="Make a living doing what you love">
    </div>
    <div class="col-6_sm-12-middle padded reg">
      <h3>  {{page.heading-text-info-2}}</h3>
      <p> {{page.text-info-para-2}}</p>
    </div>
  </div>
  <div class="grid-center products padded-1"><a href="#buy" class="button col-2_sm-6 centered"> I need this!</a></div>
</section>
