---
layout: shop
---

<section class="grid-center padded">
  <h3 class="col-12 centered"> {{page.info-header}}</h3>
</section>
<section class="padded-sides">
  <div class="grid flex-flip">
    <div class="col-6_sm-12 mock-ups" style="background-image: url('{{page.bg-image1}}');"> <img class="desktop-hide"src="{{page.bg-background1}}" alt="Make a living doing what you love">
    </div>
    <div class="col-6_sm-12-middle left padded reg">
      <h3> {{page.heading-text-info-1}} </h3>
      <p> {{page.text-info-para-1}} </p>
      <li> {{page.text-info-1-1}}</li>
      <li> {{page.text-info-1-2}}</li>
      <li> {{page.text-info-1-3}} </li>
      <li> {{page.text-info-1-4}} </li>
      <li> {{page.text-info-1-5}} </li>
      <li> {{page.text-info-1-6}} </li>
      <li> {{page.text-info-1-7}} </li>
    </div>
  </div>
  <div class="grid flex-flip">
    <div class="col-6_sm-12 mock-ups" style="background-image: url('{{page.bg-image2}}');"> <img class="desktop-hide"src="{{page.bg-background2}}" alt="Make a living doing what you love">
    </div>
    <div class="col-6_sm-12-middle padded reg">
      <h3>  {{page.heading-text-info-2}}</h3>
      <p> {{page.text-info-para-2}}</p>
      <li> {{page.text-info-2-1}} </li>
      <li> {{page.text-info-2-2}}</li>
      <li> {{page.text-info-2-3}} </li>
      <li> {{page.text-info-2-4}} </li>
      <li> {{page.text-info-2-5}} </li>
      <li> {{page.text-info-2-6}} </li>
      <li> {{page.text-info-2-7}} </li>
      <li> {{page.text-info-2-8}} </li>
    </div>
  </div>
</section>
<section class=" grid-center padded-sides">
    <h4 class="col-8_sm-10 centered">{{page.last-para}}</h4>
  </section>
<div class="grid-center products padded-1"><a href="#buy" class="button col-2_sm-6 centered"> I need this!</a></div>
