---
layout: pages
title: Ecommerce website for boutique online shops
nav-banner: /images/banner-5.jpg
background: /images/services-bg3.jpg
meta-description: About King Code, a creative agency specialising in website development and website design in the UK, Thailand, Laos, Australia and throughout the globe.
meta-keywords: website developer, thailand, laos, website designer, mobile-friendly, website, coding, html, css, javascript, jquery, content creation, responsive.
socialtitle: King Code Social Media Management and Course
socialmeta-description: King Code | Web developers and web designers specialising in responsive design, user-friendly experience and visually pleasing websites. We custom-build websites that are fast and secure.
socialfeatured-image_path: /images/catk.jpg
socialurl: www.kingcode.uk/social-media-management
site-name: Kind Code Social Media Management and Course
twitter-description: Web Developers and Content Creators
twitter-title: King Code Social Media Management and Course
twitter-image: /images/catk.jpg
twitter-image-alt: Custom-made websites for women in business | Content creation | Online Social Media Course  | Social Media Management
paragraph: At the click of a button, you have the power to quickly share your lifestyle, dreams, products, services, values, beautiful imagery, content, ideologies―everything―to a targeted audience. That is special

---

<section class="grid-center light-bg banner-social ">
  <section class="margin-social padded grid-center">
    <div class="col-6   ">
      <img class="black-border-social-all" src="{{page.banner-1}}" alt="{{page.banner-1-alt}}">
    </div>

    <div class="col-6 social-img  ">
      <img class="black-border-social-right" src="{{page.banner-2}}" alt="{{page.banner-2-alt}}">
    </div>
  
    <div class="col-8_sm-10 black-border-social-all social-media bump-up centered">
      <h1>{{page.heading}}</h1>
      <h4> {{page.subheading}}</h4>
      <p>{{page.brief}}</p>
    </div>
  </section>
</section>

<section class="grid v-light-bg">
  <section class="grid-middle centered col-4_sm-12">
    <div class="col-12 padded">
      <h1 class="small-text-2 ">
      {{page.features}}
        </h1>
       <h5 class="playfair  ">{{page.feature-list}}</h5> 
    </div>
  </section>

  <section class="grid-middle padded-sides col-8_sm-12">
    <div class="col-3  ">
      <img class="circle v-light-bg v-bump-right black-border-social-all" src="{{page.circle-image}}" alt="">
    </div>
    <div class="col-9  ">
     <img src="{{page.laptop-image}}" alt="">
    </div>
    <div class="col-7 bump-up  ">
      <img class=" black-border-social-all v-light-bg " src="{{page.spread-image}}" alt="">
    </div>
    <div class="col-5 padded-right sm-bump-left bump-up ">
      <img class="template-radius bump-up black-border-social-all v-light-bg" src="{{page.arched-image}}" alt="">
    </div>
  </section>
</section>

<section class="grid-center portfolio v-light-bg">
  <div class="col-6 "> </div>
  <div class=" col-6 "><hr class="centered"></div>
</section>

<section class="grid-center v-light-bg">
  <div class="design-main-info col-12">
    <div class="main-preview">    
        <div class="device-preview-wrapper">
          <img src="/images/ipad-mockup.png" class="device-preview-autosize" alt="iPad mockup">
            <div class="device-preview-desktop" height="400px" width="500px">
                <div class="device-preview-img mob-hide" style="background-image:url('{{page.mockup}}');"></div>
                <div class="device-preview-img desktop-hide" style="background-image:url('{{page.mob-mockup}}');"></div>
              <h6 class="small-text-2 centered desktop-hide"> tap to view</h6>
          </div>
      </div>
    </div>
  </div> 
</section>
<section>
  <section class="grid-center portfolio light-bg mob-hide bump-up-line">
    <div class="col-6 "> </div>
    <div class=" col-6 "><hr class="centered"></div>
  </section>
  <section class="grid-center light-bg padded bump-up-line ">
      <div class="col-3_md-6_xs-12  enquire black-border radius-100 centered">
       <a href="/contact" class=" padded">enquire</a>  
      </div>
  </section>
</section>

<!-- <section class="">
  <div class="col-3 "><img class="portfolio-mockups" src="/images/ipad-mockup.png">
  </div>
  <div class="device-preview-img " style="background-image:url(/image/gayamockup.jpg);"></div>

 
</section> -->
