---
layout: pages
title: Ecommerce website for boutique online shops
nav-banner: /images/banner-5.jpg
background: /images/services-bg3.jpg
meta-description: About King Code, a creative agency specialising in website development and website design in the UK, Thailand, Laos, Australia and throughout the globe.
meta-keywords: website developer, thailand, laos, website designer, mobile-friendly, website, coding, html, css, javascript, jquery, content creation, responsive.
socialtitle: King Code Social Media Management and Course
socialmeta-description: King Code | Web developers and web designers specialising in responsive design, user-friendly experience and visually pleasing websites. We custom-build websites that are fast and secure.
socialfeatured-image_path: /images/catk.jpg
socialurl: www.kingcode.uk/social-media-management
site-name: Kind Code Social Media Management and Course
twitter-description: Web Developers and Content Creators
twitter-title: King Code Social Media Management and Course
twitter-image: /images/catk.jpg
twitter-image-alt: Custom-made websites for women in business | Content creation | Online Social Media Course  | Social Media Management
paragraph: At the click of a button, you have the power to quickly share your lifestyle, dreams, products, services, values, beautiful imagery, content, ideologies―everything―to a targeted audience. That is special

---

<section class="grid-center light-bg banner-social ">
  <section class="margin-social padded grid-center">
    <div class="col-6   ">
      <img class="black-border-social-all" src="{{page.banner-1}}" alt="{{page.banner-1-alt}}">
    </div>

    <div class="col-6 social-img  ">
      <img class="black-border-social-right" src="{{page.banner-2}}" alt="{{page.banner-2-alt}}">
    </div>
  
    <div class="col-8_sm-10 black-border-social-all social-media bump-up centered">
      <h1>{{page.heading}}</h1>
      <h4> {{page.subheading}}</h4>
      <p>Currently, 3.6 billion people use social media worldwide. By 2025, projections say that number of users will increase to 4.41 billion. How do I reach them? Social media has unleashed a global audience. We can become whatever we want and we can achieve everything we want. With social media, our reach is limitless, therefore we are limitless.</p>
    </div>
  </section>
</section>

<section class="grid v-light-bg">
  <section class="grid-middle centered col-4_sm-12">
    <div class="col-12 padded">
      <h1 class="small-text-2 ">
        custom-coded<br>
        Integrated with Shopify
        </h1>
       <h5 class="playfair  ">Overview dashboard | Finance reports | Customer profiles | Order management | Product management| Email carts | In-store inventory | Gift cards | Split bill | Custom discounts and discount codes</h5> 
    </div>
  </section>

  <section class="grid-middle padded-sides col-8_sm-12">
    <div class="col-3  ">
      <img class="circle v-light-bg v-bump-right black-border-social-all" src="/images/ecommerce-website-3.png" alt="">
    </div>
    <div class="col-9  ">
     <img src="/images/ecommerce-website-1.png" alt="">
    </div>
    <div class="col-7 bump-up  ">
      <img class=" black-border-social-all v-light-bg " src="images/ecommerce-website-2.png" alt="">
    </div>
    <div class="col-5 padded-right sm-bump-left bump-up ">
      <img class="template-radius bump-up black-border-social-all v-light-bg" src="/images/ecommerce-website-4.png" alt="">
    </div>
  </section>
</section>

<section class="grid-center portfolio">
  <div class="col-6 "> </div>
  <div class=" col-6 "><hr class="centered"></div>
</section>

<section class="grid-center">
<div class="design-main-info col-12">
                
  <div class="main-preview">
      
  <div class="design-content">
      <div class="device-preview-wrapper">
          <img src="/images/ipad-mockup.png" class="device-preview-autosize" alt="iPad mockup">
          <div class="device-preview-desktop" height="400px" width="500px">
              <div class="device-preview-img " style="background-image:url(/images/gayamockup.jpg);;"></div>
          </a>
          <!-- <a class="device-preview-mobile" href="https://horizon-west.showit.site/" target="_blank" height="148px" width="315px">
              <div class="device-preview-img " style="background-image:url(/images/gayamockup.jpg);"></div>
          </a> -->
      </div>
  </div>
  
  </div>
</div>
</section>

<!-- <section class="">
  <div class="col-3 "><img class="portfolio-mockups" src="/images/ipad-mockup.png">
  </div>
  <div class="device-preview-img " style="background-image:url(/image/gayamockup.jpg);"></div>

 
</section> -->
